In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import json
import numpy as np

In [3]:
url = "https://en.wikipedia.org/wiki/List_of_feature_film_series_with_two_entries"

In [4]:
r = requests.get(url)

In [5]:
soup = BeautifulSoup(r.text, 'html.parser')

In [6]:
#mix the soup
m = [item.get_text().split('\n') for item in soup.find_all('ol')]

In [8]:
#Quick function to query the OMDB API
def make_text(text, column):
    try:
        return text[column]
    except:
        return "N/A"

counter = 0

def query_api(title, year):
    
    url = 'http://www.omdbapi.com'
    
    #Handle String years if necessary
    try:
        year = str(int(year))
    except:
        year = 'N/A'
    
    #Populate Params
    params = {'t': title,
           'y': year,
           'apikey': 'f13c3a86'}

    global counter
    counter = counter + 1
    print(counter, title)
    
    #Make the request
    try:
        r = requests.get(url, params=params, timeout=0.6)

        response = r.text
        #print(response)

        json_text = json.loads(response)
    except Exception as e:
        print(e)
        r = 0
    
    try:
        #Populate imdbRating
        '''
        try:
            imdb = json_text['imdbRating']
        except:
            imdb = 'N/A'
        '''
        imdb = make_text(json_text, 'imdbRating')

        #Populate Metascore Rating
        '''
        try:
            metascore = json_text['Metascore']
        except:
            metascore = 'N/A'
        ''' 
        metascore = make_text(json_text, 'Metascore')

        imdb_id = make_text(json_text, 'imdbID')
        #print(imdb, metascore)
    except:
        imdb = 'N/A'
        metascore = 'N/A'
        imdb_id = 'N/A'
    
    return {'imdb': imdb, 'metascore': metascore, 'imdb_id': imdb_id}

In [9]:
#Find all movies
l = [item.text.split('\n') for item in soup.find('div', {'class': 'div-col'}).find_all('li')]

In [10]:
#Remove anything that doesn't have 3 entries
'''
def filterList(item):
    return len(item) == 3
'''

clean_list = list(filter(lambda x: len(x) == 3, l))

In [11]:
#TODO: refactor to work with more than 2 movies
titles = [[{'title':item[1], 'series': item[0]}, {'title':item[2], 'series':item[0]}] for item in clean_list]

In [12]:
#Flatten the list to create a dataframe
df = pd.DataFrame([item for sublist in titles for item in sublist])

In [13]:
#Create a new column by parsing out the date
def return_date(item):
    try:
        return item.split('(')[1].split(')')[0]
    except:
        return np.nan
    
df['date'] = df['title'].apply(lambda x:return_date(x))
df['title_clean'] = df['title'].apply(lambda x: x.split('(')[0])

In [14]:
df

,title,series,date,title_clean
0,00 Schneider – Jagd auf Nihil Baxter (1994),00 Schneider,1994,00 Schneider – Jagd auf Nihil Baxter
1,00 Schneider – Im Wendekreis der Eidechse [de]...,00 Schneider,2013,00 Schneider – Im Wendekreis der Eidechse [de]
2,2 Days in Paris (2007),2 Days in...,2007,2 Days in Paris
3,2 Days in New York (2012),2 Days in...,2012,2 Days in New York
4,8mm (1999),8mm,1999,8mm
...,...,...,...,...
3347,Zulu Dawn (1979) (prequel),Zulu,1979,Zulu Dawn
3348,Zuma (1985),Zuma,1985,Zuma
3349,Anak ni Zuma (1987),Zuma,1987,Anak ni Zuma
3350,Dschungelmädchen für zwei Halunken [de] (1974),Zwei Teufelskerle,1974,Dschungelmädchen für zwei Halunken [de]
3351,Zwei Teufelskerle auf dem Weg ins Kloster [de]...,Zwei Teufelskerle,1975,Zwei Teufelskerle auf dem Weg ins Kloster [de]

In [15]:
#Converte the date column to be and integer
def convert_to_int(item):
    try:
        return float(item)
    except:
        return np.nan

df['date'] = df['date'].apply(lambda x: convert_to_int(x))

In [16]:
#Only keep movies newer than 1990 and let's only worry about the first 100
test_df = df.loc[df['date'] > 1990].copy()

In [80]:
#test_df

In [17]:
#Query the API for each entry and keep building the table
final_df = test_df.merge(test_df.apply(lambda x: pd.Series(query_api(x['title_clean'], x['date'])), axis=1), 
             left_index=True, right_index=True)

1 00 Schneider – Jagd auf Nihil Baxter
2 00 Schneider – Jagd auf Nihil Baxter
3 00 Schneider – Im Wendekreis der Eidechse [de]
4 2 Days in Paris
5 2 Days in New York
6 8mm
7 8mm 2
8 28 Days Later
9 28 Weeks Later
10 30 Days of Night
11 30 Days of Night: Dark Days
12 47 Meters Down
13 47 Meters Down: Uncaged
14 100 Girls
15 100 Women
16 101 Dalmatians II: Patch's London Adventure
17 101 Dalmatians
18 102 Dalmatians
19 300
20 300: Rise of an Empire
21 500 Years Later
22 Motherland
23 666: The Child
24 666: The Beast
25 976-Evil II
26 2001 Maniacs
27 2001 Maniacs: Field of Screams
28 A Dog's Purpose
29 A Dog's Journey
30 A Gift to Remember
31 Cherished Memories: A Gift to Remember 2
32 A Haunted House
33 A Haunted House 2
34 A Monkey's Tale
35 The Prince's Voyage [fr]
36 A Quiet Place
37 A Quiet Place 2
38 Aadu
39 Aadu 2
40 Aashiqui 2
41 Ab Tak Chhappan
42 Ab Tak Chhappan 2
43 Abang '92
44 Abang Long Fadil
45 Abang Long Fadil 2
46 ABCD: Any Body Can Dance
47 ABCD 2
48 Abducted II: The Reunion
49 Abhinetri
50 Abhinetri 2
51 Agent Cody Banks
52 Agent Cody Banks 2: Destination London
53 Der Tote am Teich [de]
54 Der Tote im See [de]
55 Aksar
56 Aksar 2
57 Ali Kundilli [tr]
58 Ali Kundilli 2 [tr]
59 Alice in Wonderland
60 Alice Through the Looking Glass
61 Alice's Birthday
62 All Hallows' Eve
63 All Hallows' Eve 2
64 Alligator II: The Mutation
65 All Stars
66 All Stars 2: Old Stars
67 Bruce Almighty
68 Evan Almighty
69 Alone in the Dark
70 Alone in the Dark II
71 Allemagne 90 neuf zéro
72 Always: Sunset on Third Street
73 Always Zoku Sanchome no Yuhi
74 Amanush
75 Amanush 2
76 The Amazing Spider-Man
77 The Amazing Spider-Man 2
78 American Kickboxer
79 American Kickboxer 2
80 American Psycho
81 American Psycho 2
82 An American Werewolf in Paris
83 American Yakuza
84 Back to Back: American Yakuza 2
85 Ammar: Cin Tarikatı [tr; az]
86 Ammar 2: Cin İstilası
87 Analyze This
88 Analyze That
89 Anastasia
90 Bartok the Magnificent
91 Anatomy
92 Anatomy 2
93 Ang probinsyano
94 Pagbabalik ng probinsyano
95 Ang utol kong hoodlum
96 Angel Terminators II
97 The Angry Birds Movie
98 The Angry Birds Movie 2
99 Animal
100 Animal 2
101 Animusic: A Computer Animation Video Album
102 Animusic 2: A New Computer Animation Video Album
103 An Inconvenient Truth
104 An Inconvenient Sequel: Truth to Power
105 Annie: A Royal Adventure!
106 Anni 90
107 Anni 90 - Parte II
108 Ano ba iyan?
109 Ano ba 'yan 2
110 Another Gay Movie
111 Another Gay Sequel: Gays Gone Wild!
112 Appa
113 Appa 2
114 Appleseed
115 Appleseed Ex Machina
116 Apthamitra
117 Aptharakshaka
118 AR-15: Comando implacable
119 AR-15 Comando Implacable II
120 Aranmanai
121 Aranmanai 2
122 A Film by Aravind
123 Aravind 2
124 The Archies in Jugman
125 A.R.C.H.I.E.
126 A.R.C.H.I.E. 2
127 Ardaas
128 Ardaas Karaan
129 Are We There Yet?
130 Are We Done Yet?
131 Arn – The Knight Templar
132 Arn – The Kingdom at Road's End
133 The Arrival
134 The Second Arrival
135 Arya
136 Arya 2
137 Kurochka Ryaba
138 A spasso nel tempo
139 A spasso nel tempo: l'avventura continua
140 Assault of the Party Nerds 2: The Heavy Petting Detective
141 Mark of the Astro-Zombies
142 Megint tanú
143 Atlantic Rim
144 Atlantic Rim: Resurrection
145 Atlantis: The Lost Empire
146 Atlantis: Milo's Return
147 Attack the Gas Station
148 Attack the Gas Station 2
149 Augustin
150 Augustin, roi du Kung-fu
151 Avunu
152 Avunu 2
153 Axeman
154 Axeman 2: Overkill
155 Ay Lav Yu
156 Ay Lav Yu Tuu
157 Aya: An Imagined Autobiography
158 Azazil: Düğüm [tr; az]
159 Azazil 2: Büyü
160 Azumi
161 Azumi 2: Death or Love
162 Baahubali: The Beginning
163 Baahubali: The Conclusion
164 Babar: King of the Elephants
165 Babe
166 Babe: Pig in the City
167 Babnik-2
168 Babysitting
169 Babysitting 2
170 Bachelor Party 2: The Last Temptation
171 Backdraft
172 Backdraft 2
173 Bad Boy II
174 Bad Lieutenant
175 Bad Lieutenant: Port of Call New Orleans
176 Bad Moms
177 A Bad Moms Christmas
178 Bad Santa
179 Bad Santa 2
180 Bambi II
181 Barnyard: The Original Party Animals
182 Back at the Barnyard - Cowman: The Uddered Avenger
183 The Base
184 The Base 2: Guilty as Charged
185 Basic Instinct
186 Basic Instinct 2
187 Bats
188 Bats: Human Harvest
189 Flags of Our Fathers
190 Letters from Iwo Jima
191 Battle Royale
192 Battle Royale II: Requiem
193 Battlestar Galactica: Razor
194 Battlestar Galactica: The Plan
195 Bawal na gamot
196 Bawal na gamot 2
197 Bayside Shakedown: The Movie
198 Bayside Shakedown 2
199 Beach Babes from Beyond
200 Beach Babes 2: Cave Girl Island
201 Murder in Pays Basque
202 Murder in Guérande
203 Beer: The Movie
204 Beer: The Movie 2 - Leaving Long Island
205 Bela Seshe
206 Bela Shuru
207 Belle Toujours
208 Belle Grand-mère
209 Belle Grand Mère - 'La Trattoria'
210 Belly
211 Belly 2: Millionaire Boyz Club
212 The Benchwarmers
213 Benchwarmers 2: Breaking Balls
214 The Best Man
215 The Best Man Holiday
216 The Best Movie
217 The Best Movie 2
218 Beverly Hills Christmas
219 This is Our Christmas
220 Beverly Hills Ninja
221 The Legend of the Dancing Ninja
222 Bewitched
223 Bhool Bhulaiyaa
224 Bhool Bhulaiyaa 2
225 Bhoot
226 Bhoot Returns
227 Bhoothnath
228 Bhoothnath Returns
229 Big Fat Liar
230 Bigger Fatter Liar
231 The Big Lebowski
232 The Jesus Rolls
233 Big Money Hustlas
234 Big Money Rustlas
235 Big Time Rush - Big Time Concert
236 Big Time Rush - Big Time Christmas
237 The Bikini Carwash Company
238 The Bikini Carwash Company II
239 Billa
240 Billa II
241 Billy & Buddy [fr; de; lb]
242 Billy & Buddy 2 [fr]
243 The Birds II: Land's End
244 Black & White Episode I: The Dawn of Assault
245 Black & White: The Dawn of Justice
246 Black Mask
247 Black Mask 2: City of Masks
248 Blind gudinne
249 Salige er de som tørster
250 Blood Feast 2: All U Can Eat
251 Blood Ring
252 Blood Ring 2
253 Bloody Murder
254 Bloody Murder 2: Closing Camp
255 Blue Collar Comedy Tour: The Movie
256 Blue Collar Comedy Tour Rides Again
257 Blue Crush
258 Blue Crush 2
259 Return to the Blue Lagoon
260 Blues Brothers 2000
261 Brylcream Boulevard
262 A hetedik testvér
263 Bobo und die Hasenbande 2 - Abenteuer im Wald
264 The Bodyguard
265 The Bodyguard 2
266 Bonded by Blood
267 Bonded by Blood 2
268 Bones
269 Hush
270 The Boondock Saints
271 The Boondock Saints II: All Saints Day
272 Born to Race
273 Born to Race: Fast Track
274 Boss: Born to Rule
275 Boss 2: Back to Rule
276 The Boss Baby
277 The Boss Baby 2
278 Bounty Hunters
279 Hardball
280 The Boy
281 Brahms: The Boy II
282 Boyz
283 Boyz 2
284 Pistol Opera
285 Brice de Nice
286 Brice 3
287 The Bride with White Hair
288 The Bride with White Hair 2
289 Brother
290 Brother 2
291 Brother Bear
292 Brother Bear 2
293 Brotherhood of Blades
294 Brotherhood of Blades II: The Infernal Battlefield
295 Buck ai confini del cielo
296 Buck and the Magic Bracelet
297 Buddy en Sol: Praybeyt depektibs
298 Buena Vista Social Club
299 Buena Vista Social Club: Adios
300 Bulletproof
301 Bulletproof 2
302 Buried Alive II
303 Cabin by the Lake
304 Return to Cabin by the Lake
305 Cabin Fever
306 Cabin Fever 2: Spring Fever
307 Cage II
308 Çalgı Çengi [tr]
309 Çalgı Çengi İkimiz
310 Call for Love
311 Fit Lover
312 Camp Rock
313 Camp Rock 2: The Final Jam
314 The Car: Road to Revenge
315 Cardcaptor Sakura: The Movie
316 Cardcaptor Sakura The Movie 2: The Sealed Card
317 Carlito's Way
318 Carlito's Way: Rise to Power
319 The Rage: Carrie 2
320 Carry On Jatta
321 Carry On Jatta 2
322 Ritorno a casa Gori
323 Casino Tycoon
324 Casino Tycoon 2
325 Cat City 2: The Cat of Satan
326 Category 6: Day of Destruction
327 Category 7: The End of the World
328 Cats & Dogs
329 Cats & Dogs: The Revenge of Kitty Galore
330 The Cell
331 The Cell 2
332 Cell Phone
333 Cell Phone 2 [zh]
334 Challenge
335 Challenge 2
336 Chander Pahar
337 Amazon Obhijaan
338 Chandramukhi
339 Nagavalli
340 Charlie Chaplin
341 Charlie Chaplin 2
342 Charlie Strap and Froggy Ball Flying High
343 Charlotte's Web 2: Wilbur's Great Adventure
344 Chasing the Dragon
345 Chasing the Dragon II: Wild Wild Bunch
346 Cheaper by the Dozen
347 Cheaper by the Dozen 2
348 Cherry Blossoms
349 Kirschblüten & Dämonen [de]
350 Chicken Run
351 Chicken Run 2
352 Get Shorty
HTTPConnectionPool(host='www.omdbapi.com', port=80): Read timed out. (read timeout=0.6)

UnboundLocalError: local variable 'imdb_id' referenced before assignment

In [82]:
# Find the unique names of the series
# series_names = final_df['series'].unique()

In [ ]:
#Convert the imdb and metascore columns to int - Could probably clean this up as well

final_df['imdb'] = final_df['imdb'].apply(lambda x: convert_to_int(x))
final_df['metascore'] = final_df['metascore'].apply(lambda x: convert_to_int(x))

In [ ]:
final_df.head()

In [ ]:
# Drop NA in the imdb column and group_by series, then filter out those series that only have one entry
keep_series = pd.DataFrame(final_df.dropna(subset=['imdb']).groupby('series')['title'].count() == 1).reset_index()

# Build a list of the series to keep (This could probably be combined with the previous cell)
keep_list = list(keep_series.loc[keep_series['title'] == False, 'series'])

# Create the final data frame by keeping only the series that are in the keep list
output = final_df.loc[final_df['series'].isin(keep_list)]

In [ ]:
# Create a summary dataframe
summary = output.groupby('series')['imdb'].last() - final_df.groupby('series')['imdb'].first()

In [ ]:
# Plot the review distribution - Maybe I'll do something with this later

summary.plot.kde()

In [ ]:
summary.describe()

In [ ]:
#Write output to json format so it's easier to work with in javascript
json_data = output[['title_clean', 'series', 'date', 'imdb', 'imdb_id']].to_json(orient='records')

#Write it to the res directory
with open('../res/movieData.json', 'w') as f:
    f.write(json_data)

In [ ]:
summary_data = pd.DataFrame(summary.dropna()).reset_index().to_json(orient='records')
with open('../res/summary.json', 'w') as f:
    f.write(summary_data)